@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{margin: 0;padding: 0;scroll-behavior: smooth;font-family: "Poppins", sans-serif;box-sizing: border-box;}
.one{display: flex;}
body .dark{background: #111;color: #fff;}
body .arabic{font-family: "Cairo", sans-serif;}
.header{display: flex;flex-direction: column;align-items: center;background-color: rgb(101,67,33);color: rgb(222,210,172);border-radius: 0 70px 70px 0;min-height: 70vh;width: 11.56em;margin-top: 5.625em;text-align: center;justify-content: center;gap: 2.5em;position: absolute;box-shadow: 5px 15px 25px rgb(101,67,33);animation: slideInLeft 1s ease-out forwards;}
@keyframes slideInLeft {0%{transform: translateX(-100%);} 100%{transform: translateX(0%);}}
.header .links{flex-direction: column;display: flex;gap: 6px;font-size: 1.4em;}
.header a{border-radius: 25px;transition: 0.3s ease;display: inline-block;padding: 5px;text-decoration: none;color: rgb(222,210,172);}
.header a:hover{background-color: rgb(222,210,172);color: rgb(101,67,33);transform: scalex(1.2);}
.main{padding: 50px 0 50px 205px;min-height: 100vh;display: flex;justify-content: center;align-items: center;text-align: center;flex-direction: column;background: linear-gradient(45deg, rgb(222,210,172), rgb(170,150,110), rgb(200,185,150), rgb(200,180,140), rgb(110,95,70));background-size: 500% 500%;animation: moveBg 4s ease infinite;color: rgb(101,67,33);font-size: 1.6em;gap: 10px;flex: 1;}
.container{animation: fadeZoom 1.2s ease-out forwards;}
@keyframes fadeZoom {0%{transform: scale(0.5);}100%{transform: scale(1);}}
@keyframes moveBg {0%{background-position: 0% 50%;}50%{background-position: 100% 50%;}100%{background-position: 0% 50%;}}
.main span {font-weight: 700;gap: 20px;}
.main .hi{font-size: 1.1em;display: inline-block;}
.main .your-job{font-size: 2.3em;font-weight: 800;display: inline-block;} 
.main .work{font-size: 1.4em;display: inline-block;}
.main .main-btn{background-color: rgb(101,67,33);color: rgb(222,210,172);border-radius: 25px;padding: 10px 20px 10px 20px;margin-top: 15px;display: inline-block;margin-bottom: 15px;transition: 0.6s ease;text-decoration: none;box-shadow: 0 5px 25px rgb(101,67,33);}
.main .main-socialicons a{display: inline-block;padding: 0 10px 0 10px;font-size: 1.1em;transition: 0.2s ease;}
.main .main-socialicons a:hover{transform: scale(1.2);}
.main .main-btn:hover{transform: rotate(360deg) scale(1.3);}
.services{display: flex;flex-direction: column;align-items: center;text-align: center;background: linear-gradient(45deg, rgb(222,210,172), rgb(170,150,110), rgb(200,185,150), rgb(200,180,140), rgb(110,95,70));background-size: 500% 500%;animation: moveBg 4s ease infinite;color: rgb(101,67,33);justify-content: center;border-radius: 0 70px 70px 0;width: 11.56em;min-height: 100vh;font-size: 1.3em;position: absolute;}
.two{display: flex;}
.cards{background-color: rgb(101,67,33);display: flex;align-items: center;flex: 1;min-height: 100vh;padding-left: 20.625em;gap: 3.75em;}
.card{background: linear-gradient(45deg, rgb(222,210,172), rgb(170,150,110), rgb(200,185,150), rgb(200,180,140), rgb(110,95,70));background-size: 500% 500%;animation: moveBg 4s ease infinite;border-radius: 15px;display: flex;justify-content: space-between;text-align: center;align-items: center;flex-direction: column;padding: 20px;height: 70vh;width: 18em;transition: 0.8s ease;margin-top: 50px;transform:  rotatex(30deg) rotateY(45deg);box-shadow: 20px 0 80px rgb(200,185,150);}
.card-icon{font-size: 120px;color: rgb(101,67,33);}
.card-info {font-size: 1.2em;margin-bottom: 100px;}
.card-info span{font-weight: 600;font-size: 1.4em;color: rgb(101,67,33);}
.card-info p{margin-top: 5px;font-size: 0.9em;}
.card:hover{transform: scale(1.1);box-shadow: 0 0 20px rgb(200,185,150);}
.services .links{flex-direction: column;display: flex;}
.ser-home{display: inline-block;background-color: rgb(200,185,150);border-radius: 25px;color: rgb(101,67,33);padding: 10px;text-decoration: none;transition: 0.3s ease;}
.ser-home:hover{background-color: rgb(101,67,33);color: rgb(222,210,172);transform: scaleX(1.2);}
.ser-cont{display: inline-block;background-color: rgb(200,185,150);border-radius: 25px;color: rgb(101,67,33);padding: 10px;text-decoration: none;transition: 0.3s ease;}
.ser-cont:hover{background-color: rgb(101,67,33);color: rgb(222,210,172);transform: scaleX(1.2);}
.ser-proj{display: inline-block;background-color: rgb(200,185,150);border-radius: 25px;color: rgb(101,67,33);padding: 10px;text-decoration: none;transition: 0.3s ease;}
.ser-proj:hover{background-color: rgb(101,67,33);color: rgb(222,210,172);transform: scaleX(1.2);}
.three{display: flex;}
.projects{display: flex;flex-direction: column;align-items: center;text-align: center;color: rgb(222,210,172);background-color: rgb(101,67,33);justify-content: center;border-radius: 0 70px 70px 0;width: 11.56em;min-height: 100vh;font-size: 1.3em;position: absolute;z-index: 5;}
.pro-cards{display: flex;align-items: center;flex: 1;min-height: 100vh;padding-left: 19.94em;background: linear-gradient(45deg, rgb(222,210,172), rgb(170,150,110), rgb(200,185,150), rgb(200,180,140), rgb(110,95,70));background-size: 500% 500%;animation: moveBg 4s ease infinite;gap: 6.5em;overflow-x: hidden;scroll-behavior: smooth;width: 750px;}
.pro-card img:hover{opacity: 0.8;}
.pro-info{padding: 1em;}
.pro-cg{font-size: 0.9em;color: rgb(200,185,150);}
.pro-title{display: flex;justify-content: space-between;margin-top: 10px;text-transform: uppercase;font-weight: 800;}
.more{text-decoration: none;color: rgb(200,185,150);}
.more:hover{color: rgb(222,210,172);}
.pro-card{background-color: rgb(101,67,33);color: rgb(200,185,150);border: 1px solid white;min-height: 22em;mwidth: 22em;overflow: hidden;border-radius: 25px;margin: 25px;transition: 0.3s ease;flex-shrink: 0;}
.pro-card:hover{transform: scale(1.1);}
.pro-home{display: inline-block;color: rgb(222,210,172);border-radius: 25px;background-color: rgb(101,67,33);padding: 10px;text-decoration: none;transition: 0.3s ease;}
.pro-home:hover{color: rgb(101,67,33);background-color: rgb(222,210,172);transform: scaleX(1.2);}
.pro-cont{display: inline-block;color: rgb(222,210,172);border-radius: 25px;background-color: rgb(101,67,33);padding: 10px;text-decoration: none;transition: 0.3s ease;}
.pro-cont:hover{color: rgb(101,67,33);background-color: rgb(222,210,172);transform: scaleX(1.2);}
.pro-proj{display: inline-block;color: rgb(222,210,172);border-radius: 25px;background-color: rgb(101,67,33);padding: 10px;text-decoration: none;transition: 0.3s ease;}
.pro-proj:hover{color: rgb(101,67,33);background-color: rgb(222,210,172);transform: scaleX(1.2);}
.pro-set{display: flex;align-items: center;padding-right: 30px;}
.ser-set{display: flex;align-items: center;padding-right: 30px;}
.four{display: flex;}
.two{display: flex;}
.con-cards{background-color: rgb(101,67,33);display: flex;align-items: center;flex: 1;min-height: 100vh;padding-left: 25.5em;gap: 15.5em;}
.con-card{background: linear-gradient(45deg, rgb(222,210,172), rgb(170,150,110), rgb(200,185,150), rgb(200,180,140), rgb(110,95,70));background-size: 500% 500%;animation: moveBg 4s ease infinite;border-radius: 100px;display: flex;justify-content: space-between;text-align: center;align-items: center;flex-direction: column;height: 60vh;width: 17.5em;transition: 0.4s ease;margin-top: 50px;box-shadow: 0 0 20px rgb(200,185,150);}
.con-card-icon{font-size: 10em;color: rgb(101,67,33);}
.con-card-info {font-size: 1.2em;margin-bottom: 100px;}
.con-card-info span{font-weight: 600;font-size: 1.4em;color: rgb(101,67,33);}
.con-card-info p{margin-top: 5px;font-size: 0.9em;}
.con-card:hover{transform:  scale(1.1);}
.con-set{display: flex;align-items: center;padding-right: 30px;}
.con-home{display: inline-block;background-color: rgb(200,185,150);border-radius: 25px;color: rgb(101,67,33);padding: 10px;text-decoration: none;transition: 0.3s ease;}
.con-home:hover{background-color: rgb(101,67,33);color: rgb(222,210,172);transform: scaleX(1.2);}
.con-cont{display: inline-block;background-color: rgb(200,185,150);border-radius: 25px;color: rgb(101,67,33);padding: 10px;text-decoration: none;transition: 0.3s ease;}
.con-cont:hover{background-color: rgb(101,67,33);color: rgb(222,210,172);transform: scaleX(1.2);}
.con-proj{display: inline-block;background-color: rgb(200,185,150);border-radius: 25px;color: rgb(101,67,33);padding: 10px;text-decoration: none;transition: 0.3s ease;}
.con-proj:hover{background-color: rgb(101,67,33);color: rgb(222,210,172);transform: scaleX(1.2);}
.contact{display: flex;flex-direction: column;align-items: center;text-align: center;background: linear-gradient(45deg, rgb(222,210,172), rgb(170,150,110), rgb(200,185,150), rgb(200,180,140), rgb(110,95,70));background-size: 500% 500%;animation: moveBg 4s ease infinite;color: rgb(101,67,33);justify-content: center;border-radius: 0 70px 70px 0;width: 11.56em;min-height: 100vh;font-size: 1.3em;position: absolute;}
nav {position: absolute;color: rgb(200,185,150);background-color: black;z-index: 9999;margin-left: 177px;width: 36.7em;display: flex;justify-content: center;align-items: center;white-space: nowrap;height: 15vh;border-radius: 0 0 0 75px;font-size: 2em;font-weight: 800;background-color: rgb(101,67,33);overflow: hidden;} 
nav span{display: inline-block;animation: scroll 7s linear infinite;white-space: nowrap;padding-left: 47em;}
@keyframes scroll { 0% {transform: translateX(0);} 100% {transform: translateX(-100%);} }
.scroll-left, .scroll-right {background-color: rgb(101,67,33);color: rgb(222,210,172);border: none;border-radius: 50%;width: 50px;height: 50px;font-size: 2em;cursor: pointer;transition: 0.3s ease;flex-shrink: 0;z-index: 999;position: absolute;margin-top: 50vh;transform: translateY(-50%);}
.scroll-left:hover, .scroll-right:hover {background-color: rgb(120,80,40); }
.scroll-left {margin-left: 255px;}
.scroll-right {margin-left: 1285px;}
.modal {display: none; position: fixed; z-index: 1000; left: 0;top: 0;width: 100%; height: 100%; background-color: rgba(0,0,0,0.6); 
justify-content: center;align-items: center;}
.modal-content {background-color: rgb(200,185,150);color: rgb(101,67,33);padding: 20px;border-radius: 15px;max-width: 78.125em;width: 90%;text-align: center;position: relative;}
.close {position: absolute;bottom: 5px;right: 20px;font-size: 25px;cursor: pointer;}
.services h2, .projects h2, .contact h2{writing-mode: vertical-rl;text-orientation: upright;}

@media (max-width: 1365px) and (min-width: 428px) {

  /* كل الصفحات تبقى عمود */
  .one,
  .two,
  .three,
  .four {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* الهيدر في كل الصفحات */
  .header,
  .services,
  .projects,
  .contact {
    position: relative;
    width: 100vw; /* يملأ الشاشة بالكامل */
    margin: 0;
    padding: 5px 10px; /* صغر البادنج */
    display: flex;
    flex-direction: row; /* نخلي المحتوى عمود */
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0; /* كورنر صغير لتحت */
    box-sizing: border-box;
    min-height: 50px;
    height: auto;
  }

  /* الهيدر الأول (فيه صورة + لينكات) */
  .header {
    flex-direction: row; /* الصورة + اللينكات جنب بعض */
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    min-height: 50px;
    width: 100vw;
  }
.conta{display: flex;gap: 45px;}
  /* اللينكات تبقى صف */
  .header .links,
  .ser-link,
  .pro-link,
  .con-link {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .header .links{flex-direction: row;display: flex;flex-wrap: nowrap;padding-right: 20px;}
  .header{height: 150px;padding: 30px;}
  .header img{width: 150px;}
.pro-cards{gap: 25px;}
.ser-set, .pro-set, .con-set{padding: 15px 15px 15px 0;gap: 20px;}
  /* الكلمة في الصفحات 2 و3 و4 تبقى تحت اللينكات */
  .services h2,
  .projects h2,
  .contact h2 {
    margin-top: 5px;
    font-size: 1.2em;
    display: block; /* صف واحد */
    writing-mode: horizontal-tb !important; /* تأكيد أفقية */
    text-align: center;
  }

  /* المحتوى تحت الهيدر */
  .main,
  .cards,
  .pro-cards,
  .con-cards {
    width: 100%;
    padding: 35px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
  }
.main .container{padding-bottom: 200px;padding-top: 50px;}
  /* الكروت */
  .card,
  .pro-card,
  .con-card {
    width: 90%;
    margin: 10px auto;
    height: auto;
    transform: none;
  }
  
.con-cards{gap: 15px;}
.con-card-info{margin-bottom: 30px;}
  /* إلغاء أزرار الاسكرول */
  .scroll-left,
  .scroll-right {
    display: none;
  }
}


@media (max-width: 427px) and (min-width: 320px) {
body{width: 26.5em;}
  /* كل الصفحات تبقى عمود */
  .one,
  .two,
  .three,
  .four {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* الهيدر في كل الصفحات */
  .header,
  .services,
  .projects,
  .contact {
    position: relative;
    width: 100vw; /* يملأ الشاشة بالكامل */
    margin: 0;
    padding: 5px 10px; /* صغر البادنج */
    display: flex;
    flex-direction: row; /* نخلي المحتوى عمود */
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0; /* كورنر صغير لتحت */
    box-sizing: border-box;
    min-height: 50px;
    height: auto;
  }

  /* الهيدر الأول (فيه صورة + لينكات) */
  .header {
    flex-direction: row; /* الصورة + اللينكات جنب بعض */
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    min-height: 50px;
    width: 100vw;
  }
.conta{display: flex;font-size: 0.6em;}
  /* اللينكات تبقى صف */
  .header .links,
  .ser-link,
  .pro-link,
  .con-link {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  } .pro-card{width: 5px;}
  .header .links{flex-direction: row;display: flex;flex-wrap: nowrap;padding-right: 20px;}
  .header{height: 150px;padding: 30px;}
  .header img{width: 150px;}
.pro-cards{gap: 25px;}
.ser-set, .pro-set, .con-set{padding: 15px 25px 15px 5px;gap: 20px;font-size: 0.8em;}
  /* الكلمة في الصفحات 2 و3 و4 تبقى تحت اللينكات */
  .services h2,
  .projects h2,
  .contact h2 {
    margin-top: 5px;
    font-size: 1.2em;
    display: block; /* صف واحد */
    writing-mode: horizontal-tb !important; /* تأكيد أفقية */
    text-align: center;
  }

  /* المحتوى تحت الهيدر */
  .main,
  .cards,
  .pro-cards,
  .con-cards {
    width: 100%;
    padding: 35px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
  }
 
.main .container{padding-bottom: 300px;padding-top: 50px;font-size: 0.8em;}
  /* الكروت */
  .card,
  .pro-card,
  .con-card {
    width: 90%;
    margin: 10px auto;
    height: auto;
    transform: none;
  }
  
.con-cards{gap: 15px;}
.con-card-info{margin-bottom: 30px;}
  /* إلغاء أزرار الاسكرول */
  .scroll-left,
  .scroll-right {
    display: none;
  }

}
